.App {
  text-align: center;
  padding: 20px;
}

form {
  margin-bottom: 20px;
}

.grid {
  display: inline-block;
}

.row {
  display: flex;
}

.cell {
  border: 2px solid green;
  padding: 10px;
  text-align: center;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight:bold;
}

.row:last-child .cell:last-child {
  background-color: red;
}